<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="/main.css" rel="stylesheet" type="text/css">
  <title>Technical Doc</title>
</head>
<body>

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
<header id="header">
  <h4>Brief JS Documentation</h4>
       </header>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#Introduction">Introduction<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#What_is_Javascript">What is Javascript?</a>
          <a class="nav-item nav-link" href="#Variables">Variables</a>
          <a class="nav-item nav-link" href="#Strings">Strings</a>
          <a class="nav-item nav-link" href="#Some_External_Resources">Some External Resources</a>
        </div>
      </div>
    </nav>

  <main  id="main-doc">
    <section id="Introduction" class="main-section">
  <header>
    <h3>Introduction</h3>
  </header>
  <p></p>
    </section>

    <section id="What_is_Javascript?" class="main-section">
      <header>
        <h3>What is Javascript?</h3>
      </header>
        <p></p>
        <p></p>
    </section>

    <section id="Variables" class="main-section">
      <header>
        <h3>Variables</h3>
      </header>
        <p><code></code></p>
          <p><code></code></p>
            <p><code></code></p>
    </section>

    <section id="Strings" class="main-section">
      <header>
        <h3>Strings</h3>
      </header>
        <p>
          <code></code>
        </p>
        <p>
          <code></code>
        </p>
    </section>

    <section id="Some_External_Resources" class="main-section">
      <header>
        <h3>Some External Resources</h3>
      </header>
        <p>
          <li></li>
          <li></li>
          <li></li>

        </p>
        <p>
          <li></li>
          <li></li>
        </p>
    </section>

  </main>
</body>
<script src="https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js"></script>
</html>
