body {
  background-color: #dce8ea;
}

.navbar {
  width: 300px;
  float: left;
  position: fixed;
  padding-top: 35px
}

main {
  height: 1200px;
  margin-left: 310px;
}

section {
  overflow: hidden;
}

@media only screen and (max-width: 300px) {
  body {
    background-color: #8dbac1;
  }
}

#Introduction {
  padding-top: 35px;
}